{% assign today = "now" | date: "%Y%m%d" %}
{% assign startday = "April 06, 2010" | date: "%Y%m%d" %}
{% assign birthday = "March 05, 1990" | date: "%Y%m%d" %}

<div class="author">
	<div class="container">
		<div class="media-object">
			<div class="media-object__media">
				<img class="img img--circle" src="/assets/sarah-dayan.jpg" alt="Sarah Dayan">
			</div>
			<div class="media-object__body">
				<h2 class="author__name">Sarah Dayan</h2>
				I'm a {{ today | minus: birthday | divided_by: 10000 | floor }} year old front-end developer with a taste for design and typography.<br> I like to share my opinions on <strong>HTML</strong>, <strong>CSS</strong> and <strong>JavaScript</strong>, UI, UX and any other front stuff.
			</div>
		</div>
	</div>
</div>
