<div class="email-signup">
    <div class="container">
        <h2 class="email-signup__title">Get more content like this right in your inbox.</h2>
        <form class="email-signup__form" action="https://frontstuff.us12.list-manage.com/subscribe/post?u=48445c665413c9e65ff2a6e13&amp;id=181f69eca0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
            <div class="email-signup__alert email-signup__alert--error" id="mce-error-response" style="display:none"></div>
            <div class="email-signup__alert email-signup__alert--success" id="mce-success-response" style="display:none"></div>
            <div class="email-signup__groups">
                <div class="email-signup__group">
                    <label class="email-signup__label" for="mce-EMAIL">Your Email Address*</label>
                    <input class="email-signup__input" type="email" name="EMAIL" id="mce-EMAIL">
                </div>
                <div class="email-signup__group">
                    <label class="email-signup__label" for="mce-FNAME">Your First Name</label>
                    <input class="email-signup__input" type="text" name="FNAME" id="mce-FNAME">
                </div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_48445c665413c9e65ff2a6e13_181f69eca0" value="" tabindex="-1">
            </div>
            <button class="email-signup__submit" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
        </form>
        <p class="email-signup__paragraph">I will use the information you provide to be in touch with you and send updates. You can change your mind at any time by clicking the unsubscribe link of any email I send you, or <a href="mailto:postmaster@frontstuff.io">contacting me</a>.</p>
        <p class="email-signup__paragraph">By subscribing, you agree that I may process your information under these terms. You also acknowledge it will be transferred to MailChimp for processing, under their <a target="_blank" href="https://mailchimp.com/legal/privacy/" target="_blank">Privacy Policy</a> and <a target="_blank" href="https://mailchimp.com/legal/terms/" target="_blank">Terms</a>.</p>
    </div>
</div>
