<div class="email-signup">
    <div class="container">
        <h2 class="email-signup__title">Get more content like this right in your inbox.</h2>
        <form class="email-signup__form" action="https://frontstuff.us12.list-manage.com/subscribe/post?u=48445c665413c9e65ff2a6e13&amp;id=181f69eca0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate>
            <div class="email-signup__alert email-signup__alert--error" id="mce-error-response" style="display:none"></div>
            <div class="email-signup__alert email-signup__alert--success" id="mce-success-response" style="display:none"></div>
            <div class="email-signup__groups">
                <div class="email-signup__group">
                    <label class="email-signup__label" for="mce-EMAIL">Your Email Address*</label>
                    <input class="email-signup__input" type="email" name="EMAIL" id="mce-EMAIL">
                </div>
                <div class="email-signup__group">
                    <label class="email-signup__label" for="mce-FNAME">Your First Name</label>
                    <input class="email-signup__input" type="text" name="FNAME" id="mce-FNAME">
                </div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_48445c665413c9e65ff2a6e13_181f69eca0" value="" tabindex="-1">
            </div>
            <button class="email-signup__submit" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
        </form>
        <p>Email signups aren't your thing? No problem. I got an <a href="{{ "/feed.xml" | relative_url }}" target="_blank">RSS feed</a>, too 😊</p>
    </div>
</div>
