<header class="header" role="banner">
	<div class="container">
		<div class="header__inner">
			{% if page.layout == 'home' %}
			{% assign header_title_tag = 'h1' %}
			{% else %}
			{% assign header_title_tag = 'p' %}
			{% endif %}
			<div class="header__col">
				<{{ header_title_tag }} class="header__title">
					<a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
				</{{ header_title_tag }}>
				<p class="header__description">{{ site.short_description | replace_first: 'developer', 'developer<br>' }}</p>
			</div>
			<div class="header__col">
				<ul class="header__links">
					<li class="header__item">
						{% include icon-github.html username=site.github_username class="header__link" %}
					</li>
					<li class="header__item">
						{% include icon-twitter.html username=site.twitter_username class="header__link" %}
					</li>
					<li class="header__item">
						{% include icon-rss.html class="header__link" %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
