.email-signup {
	margin-top: $spacing-unit * 2;
	font-size: $base-font-size * 0.825;
	&__title {
		display: inline-block;
		margin-bottom: $spacing-unit / 2;
		font-size: $base-font-size * 1.2;
		font-weight: 600;
		@include variable('color', 'brand-color');
	}
	&__form {
		margin-bottom: $spacing-unit / 2;
	}
	&__alert {
		margin-bottom: $spacing-unit / 2;
		padding: $spacing-unit / 3 $spacing-unit / 2;
		&--success {
			@include variable('background', 'success-color');
			@include variable('color', 'success-text-color');
		}
		&--error {
			@include variable('background', 'error-color');
			@include variable('color', 'error-text-color');
		}
	}
	&__groups {
		display: flex;
		margin: 0 (-$spacing-unit / 3) $spacing-unit / 2;
		@include media-query-max($on-phone) {
			display: block;
		}
	}
	&__group {
		flex-grow: 1;
		margin: 0 $spacing-unit / 3;
	}
	&__input {
		display: block;
		width: 100%;
		padding: $spacing-unit / 3 $spacing-unit / 2;
		font: inherit;
		border: 0.1rem solid;
		@include variable('border-color', 'icon-color');
		transition: outline-width 0.1s linear;
		&:focus {
			outline: 3px solid;
			@include variable('outline-color', 'border-color');
		}
	}
	&__submit {
		padding: $spacing-unit / 3 $spacing-unit;
		font: inherit;
		font-size: $base-font-size;
		@include variable('background-color', 'tertiary-text-color');
		@include variable('color', 'background-color');
		cursor: pointer;
		border: none;
		transition: all 0.1s linear;
		&:hover {
			@include variable('background-color', 'secondary-text-color');
		}
	}
	@include media-query-max($on-phone) {
		margin-top: $spacing-unit;
		padding-top: $spacing-unit;
	}
}
