.header {
	padding: $spacing-unit / 2 0 $spacing-unit;
	border-bottom: 0.1rem solid;
	@include variable('border-color', 'border-color');
	transition: border-bottom 0.1s ease-out;
	&__inner {
		display: flex;
		align-items: flex-end;
		@include media-query-max($on-phone) {
			align-items: initial;
			flex-direction: column;
			text-align: center;
		}
	}
	&__col {
		flex-grow: 1;
	}
	&__title {
		font-size: $base-font-size * 2.725;
		font-weight: 600;
		font-style: italic;
		@include media-query-max($on-phone) {
			font-size: $base-font-size * 1.8;
			margin-bottom: $spacing-unit / 4;
		}
	}
	&__description {
		font-size: $base-font-size * 1.1;
		@include variable('color', 'tertiary-text-color');
		@include media-query-max($on-phone) {
			margin-bottom: $spacing-unit / 2;
		}
	}
	&__links {
		display: flex;
		justify-content: flex-end;
		margin-bottom: $spacing-unit / 6;
		@include media-query-max($on-phone) {
			justify-content: center;
			margin-bottom: 0;
		}
	}
	&__item {
		margin-left: $spacing-unit / 2;
		&:first-child {
			margin-left: 0;
		}
	}
	&__link {
		display: inline-block;
		width: $base-font-size * 1.3;
		height: $base-font-size * 1.3;
		@include variable('color', 'icon-color');
		transition: color 0.1s ease-out;
		&:hover {
			@include variable('color', 'tertiary-text-color');
		}
	}
}
