.pagination {
  $block: &;
  margin-top: $spacing-unit * 2;
  @include media-query-max($on-phone) {
    margin-top: $spacing-unit;
  }
  &__items {
    display: flex;
    @include media-query-max($on-phone) {
      flex-direction: column;
    }
  }
  &__item {
    flex-basis: 50%;
    flex-grow: 2;
    border-radius: $spacing-unit / 6;
    border: 0.1rem solid;
    @include variable('border-color', 'border-color');
    text-align: center;
  }
  &__link {
    display: block;
    padding: $spacing-unit / 2 $spacing-unit;
    white-space: nowrap;
    transition: background 0.1s ease-out;
    &:hover {
      @include variable('background', 'border-color');
    }
  }
  &--both {
    @include media-query-min($above-phone) {
      #{$block}__item--older {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      #{$block}__item--newer {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }
    @include media-query-max($on-phone) {
      #{$block}__item--older {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
      }
      #{$block}__item--newer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
