/* Compiled Markdown (non-BEM) */

iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ol,
ul,
table,
figure,
audio,
video {
	margin-bottom: $spacing-unit;
}

h2,
h3,
h4,
h5,
h6 {
	@extend .post__title;
	color: $brown-mid;
}

h2 {
	font-size: $base-font-size * 1.2;
}

h3 {
	font-size: $base-font-size * 1;
}

h4,
h5,
h6 {
	font-size: $base-font-size;
}

ul,
ol {
	padding-left: $spacing-unit;
}

ul {
	list-style: initial;
}

ol {
	list-style: reset;
}

a {
	&:hover {
		text-decoration: underline;
	}
}

> code {
	@extend %code;
}

> h2,
> h3,
> h4,
> h5,
> h6,
> p,
> ul,
> ol {
	code {
		@extend %code;
	}
}

> h2,
> h3,
> h4,
> h5,
> h6 {
	code {
		font-size: $small-font-size;
	}
}

img {
	padding: $spacing-unit / 3;
	border: 0.1rem solid $brown-lightest;
}

.highlight {
	padding: $spacing-unit;
	@extend %script;
	* {
		margin: 0;
	}
}

.caption {
	margin-top: -#{$spacing-unit / 2};
	color: $brown-light;
	font-size: $small-font-size;
}

/* Removes the extra-space at the end of the container */

> *:last-child,
> *:last-child > *:last-child,
> *:last-child > *:last-child > *:last-child {
	margin-bottom: 0;
}
