.post {
	&__meta {
		display: inline-block;
		margin-bottom: $spacing-unit / 2;
		font-size: $base-font-size * .875;
		color: $brown-light;
		letter-spacing: $base-font-size * .08;
	}
	&__title {
		margin-bottom: $spacing-unit / 2;
		font-size: $base-font-size * 1.4;
		font-weight: 600;
		color: $brown-dark;
	}
	&__link {
		&:hover {
			text-decoration: underline;
		}
	}
	&__content {
		&--summary {
			margin-bottom: $spacing-unit / 2;
		}

		@import 'partials/post-content';

	}
	&__more {
		text-decoration: underline;
	}
}
