* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height}
		$base-font-family;
	color: $text-color;
	background-color: $background-color;
	font-kerning: normal;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: $brand-color;
	text-decoration: none;
	outline: none;
	&:focus {
		outline: 0.2rem dotted $brown;
	}
}

abbr {
	cursor: help;
}
