@mixin media-query-max($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin variable($property, $value, $map: $colors) {
  #{$property}: map-get($map, $value);
  #{$property}: var(unquote("--#{$value}"));
}

%script {
  border-radius: 0.6rem;
  @include variable("background", "background-code-color");
  font-family: $code-font-family;
  font-size: 90%;
  @include variable("color", "title-text-color");
  overflow-x: auto;
}

%code {
  padding: $spacing-unit / 8 $spacing-unit / 4;
  @include variable("color", "inline-code-color");
  @extend %script;
  @extend .nl;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
