@mixin media-query-max($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin media-query-min($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

%script {
	border-radius: 0.6rem;
	background: var(--background-code-color);
	font-family: $code-font-family;
	font-size: 90%;
	color: var(--title-text-color);
	overflow-x: scroll;
}

%code {
	padding: $spacing-unit / 8 $spacing-unit / 4;
	@extend %script;
	@extend .nl;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
