@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

%script {
	border-radius: .6rem;
	background: $brown-lightest;
	font-family: $code-font-family;
	overflow-x: scroll;
}

%code {
	padding: $spacing-unit / 8 $spacing-unit / 4;
	@extend %script;
	@extend .nl;
}

%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
