$base-font-family: "bagatela", serif;
$code-font-family: "inconsolata", monospace;
$base-font-size: 2.2rem;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.85;
$base-line-height: 1.5;

$spacing-unit: 3.2rem;

/* Light scheme */

$white: #fff;
$brown-dark: #2c2a2a; // OK for all text
$brown-mid: #524949; // OK for all text
$brown: #776969; // OK for all text
$brown-light: #969292; // OK for text >= 2.4rem
$brown-lighter: #bfbfbf; // Not for text
$brown-lightest: #ececec; // Not for text

/* Dark scheme */

$off-white: #f8f8f2;
$grey: #404346;
$grey-light: #a7adba;
$grey-lighter: #4d555e;
$blue-darkest: #2d3338;

/* Semantic colors */

$colors: (
  light: (
    brand-color: #{$brown-dark},
    text-color: #{$brown},
    secondary-text-color: #{lighten($brown, 4%)},
    tertiary-text-color: #{$brown-light},
    icon-color: #{$brown-lighter},
    title-text-color: #{$brown-mid},
    background-color: #{$white},
    border-color: #{$brown-lightest},
    background-code-color: #faf8f2,
    inline-code-color: #d01040,
    outline-color: #{$brown-light},
    skip-background-color: #{$brown-mid},
    skip-text-color: #{$white},
    success-color: #d4ece6,
    success-text-color: #7ca89d,
    error-color: #f8d0c8,
    error-text-color: #c98d82,
    warning-text-color: #f0a202,
    warning-color: #fff4bf,
    info-text-color: #3b78e5,
    info-color: #ecf2ff
  ),
  dark: (
    brand-color: #{$off-white},
    text-color: #{$grey-light},
    secondary-text-color: #{darken($grey-light, 4%)},
    tertiary-text-color: #{$grey-light},
    icon-color: #{lighten($grey-lighter, 5%)},
    title-text-color: #{$off-white},
    background-color: #{$blue-darkest},
    border-color: #{darken($grey-lighter, 10%)},
    background-code-color: #{darken($blue-darkest, 5%)},
    inline-code-color: #{$off-white},
    outline-color: #{lighten($grey-lighter, 5%)},
    skip-background-color: #{$off-white},
    skip-text-color: #{$blue-darkest}
  )
);

$content-width: 66rem;

$on-phone: 600px;
$above-phone: $on-phone + 1;
