$base-font-family: 'freight-text-pro', serif;
$code-font-family: 'inconsolata', monospace;
$base-font-size: 2.2rem;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.85;
$base-line-height: 1.5;

$spacing-unit: 3.2rem;

$white: #fff;
$brown-dark: #2c2a2a; // OK for all text
$brown-mid: #524949; // OK for all text
$brown: #776969; // OK for all text
$brown-light: #969292; // OK for text >= 1.8rem
$brown-lighter: #bfbfbf; // Not for text
$brown-lightest: #ececec; // Not for text

$text-color: $brown;
$background-color: $white;
$brand-color: $brown-dark;

$content-width: 66rem;

$on-phone: 550px;
$above-phone: $on-phone + 1;
