$base-font-family: 'freight-text-pro', serif;
$code-font-family: 'inconsolata', monospace;
$base-font-size: 2.2rem;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.85;
$base-line-height: 1.5;

$spacing-unit: 3.2rem;

/* Light scheme */

$white: #fff;
$brown-dark: #2c2a2a; // OK for all text
$brown-mid: #524949; // OK for all text
$brown: #776969; // OK for all text
$brown-light: #969292; // OK for text >= 2.4rem
$brown-lighter: #bfbfbf; // Not for text
$brown-lightest: #ececec; // Not for text

/* Dark scheme */

$off-white: #f8f8f2;
$grey: #404346;
$grey-light: #a7adba;
$grey-lighter: #4d555e;
$blue-darkest: #2d3338;

$content-width: 66rem;

$on-phone: 600px;
$above-phone: $on-phone + 1;
