---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

@import 'reset';
@import 'variables';
@import 'mixins-placeholders';
@import 'colors';
@import 'global';
@import 'container';
@import 'embed';
@import 'img';
@import 'icon';
@import 'media-object';

@import 'partials/header';
@import 'partials/skip';
@import 'partials/content';
@import 'partials/pagination';
@import 'partials/posts';
@import 'partials/post';
@import 'partials/author';
@import 'partials/comments';
@import 'partials/footer';
